/* Estilos generales */
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #f8f9fe;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Estilos para el formulario */
form {
    background-color: #39a6cb;
    padding: 20px;
    border-radius: 5px;
    color: white;
    width: 300px;
}

/* Estilos para las etiquetas de los campos */
label {
    display: block;
    margin-bottom: 5px;
}

/* Estilos para los campos de entrada */
input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
}

/* Estilos para el botón de submit */
input[type="submit"] {
    background-color: #39a6cb;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #39a6cb;
}
