.atma {
    font-family: 'Atma';
    src: url(../fonts/Atma-SemiBold.ttf) format('ttf');
    font-weight: bold;
    font-style: italic;
    /* Add additional font properties here if needed */
}
/* Agrega un borde izquierdo y derecho a la barra de navegación */
.navbar-main {
    background: rgb(26,71,137);
    background: linear-gradient(145deg, rgba(26,71,137,1) 40%, rgba(34,77,141,1) 53%, rgba(255,255,255,1) 53%);
    height: 140px; /* Ajusta la altura de la navbar según sea necesario */
    border: none;
    border-radius: 0;
    position: relative;
    overflow: hidden;
    border-left: 5%; /* Borde izquierdo ajustado */
    border-right: 5%; /* Borde derecho ajustado */
}

.section{
    background-size: cover;
    background-repeat:
    no-repeat;
    filter: brightness(0.9) blur(2px) saturate(120%);
}

/* Estilo para el contenedor de la navbar */
.navbar-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 120%;
    width: 1200px; /* Ancho del contenedor ajustado */
    margin: 0 auto; /* Centrar el contenedor */
}

/* Estilo para los elementos de la navbar */
.navbar-brand {
    height: 90%;
    width: auto;
    display: flex;
    align-items: center;
}

/* Para pantallas pequeñas */
.w-20 {
    width: 20%;
}

/* Para pantallas grandes */
@media (min-width: 992px) {
    .lg\:w-24 {
        width: 1.5rem;
    }
}

/* Para pantallas extra grandes */
@media (min-width: 1200px) {
    .xl\:w-32 {
        width: 2rem;
    }
}

/* Para todas las pantallas */
.h-auto {
    height: auto;
}

  /*End navbar*/

/* Estilo para el contenedor principal */

   /* Estilo para la fuente "ATMA BOLD" */
.atma-bold {
    font-family: 'ATMA BOLD', sans-serif;
    font-weight: normal; /* La fuente ATMA BOLD es negrita por defecto */
  }

  /* Estilo para la fuente "alegreya-sans-black" */
  .alegreya-sans-black {
    font-family: 'alegreya-sans-black', sans-serif;
    font-weight: normal; /* La fuente alegreya-sans-black es negrita por defecto */
  }

  /* Aplicar estilos de fuente a elementos específicos */
  .navbar-brand,
  .btn-custom,
  .text-light,
  .font-weight-light {
    font-family: 'alegreya-sans-black', sans-serif;
  }

  .btn-custom {
    background-color: #1A4789; /* Color de fondo personalizado */
    color: #FFFFFF; /* Color de texto personalizado */
  }

  .font-weight-light {
    font-weight: normal; /* Asegura que la fuente sea normal */
  }
  /* Estilo h10 con ATMA BOLD */
.h10 {
    font-family: 'ATMA BOLD', sans-serif;
    font-size: 10px;
    font-weight: normal; /* ATMA BOLD es negrita por defecto */
  }







/* Estilos para el formulario de inicio de sesión */

/* Definición de estilo personalizado para el botón */
.btn-custom {
    background-color: #1A4789; /* Color de fondo */
    color: #fff; /* Color del texto */
    /* Otros estilos si es necesario */
  }


  /* Estilo para el pie de página */

  .footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1.5rem;
    border-top: 1px solid #e9ecef;
    border-bottom-right-radius: 0.3rem;
    border-bottom-left-radius: 0.3rem;
    background-color: #f8f8f8
  }

  /* Otros estilos específicos según sea necesario */
