@font-face{
    font-family:AB;
    src: url(../fonts/AB.ttf);
}
h1{
    font-family: 'AB', sans-serif;
    font-size: 20px;
    margin-left: 20px;
}
@font-face{
    font-family: 'ASB', sans-serif;
    src: url(../fonts/ASB.ttf);
}
h2{
    font-family: 'ASB', sans-serif;
}
/* Estilos para el body */
body {
    margin: 0; /* Elimina los márgenes predeterminados del body */
    padding: 0; /* Elimina el relleno predeterminado del body (opcional) */
    text-align: center;
    background-color: rgb(228, 228, 228);
}
/* Estilos para el encabezado */
.header-main {
    background: linear-gradient(to right bottom, #1A4789 49.5%, #FFFF 50%);
    height: 140px;
    /* Ajusta la altura de la navbar según sea necesario */
    width: 100%;
    border: none;
    border-radius: 0;
    position: relative;
    overflow: hidden;
}

/* Estilo para el contenedor de la navbar */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

/* Estilo para los elementos de la navbar */
.header-brand {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

/* Estilo para la barra de navegación */
.navbar {
    background-color: #63becf; /* Color de fondo de la navbar */
    height: 60px; /* Altura de la navbar en píxeles */
    width: 100%; /* Ancho al 100% para que abarque toda la pantalla */
}

/* Estilo para los elementos del menú */
.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Hace que los elementos del menú se alineen en línea horizontalmente */
    align-items: center; /* Centra verticalmente los elementos */
    height: 100%; /* Ajusta la altura de los elementos del menú al de la navbar */
}

/* Estilo para los enlaces del menú */
.menu li {
    margin: 0;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #000000; /* Color del texto de los enlaces */
    font-family: 'AB', sans-serif;
    padding: 10px 20px; /* Espaciado interno de los botones */
    border-radius: 5px; /* Borde redondeado */
    margin-left: 20px; /* Espaciado a la izquierda entre los botones */
    margin-right: 20px; /* Espaciado a la derecha entre los botones */
    background-color: #ffffff; /* Color de fondo de los botones */
}

/* Estilo para los enlaces del menú cuando se coloca el mouse sobre ellos */
.menu a:hover {
    background-color: #1A4789; /* Cambia el color de fondo al pasar el mouse */
    color: #ffffff;
}

/* Estilo para el botón desplegable */
.dropdown-button {
    cursor: pointer; /* Cambia el cursor a una mano al pasar el mouse */
}
/* Estilo para el contenido del botón desplegable (inicialmente oculto) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #ffffff;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 5px; /* Borde redondeado */
    margin-top: 10px; /* Espaciado desde el botón */
}

/* Estilo para los enlaces dentro del contenido del botón desplegable */
.dropdown-content a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #000000;
    font-family: 'AB', sans-serif;
}

/* Muestra el contenido del botón desplegable cuando se coloca el mouse sobre el botón */
.dropdown:hover .dropdown-content {
    display: block;
}
/* Estilos para el icono de menú hamburguesa en dispositivos móviles */
.menu-icon {
    display: none; /* Oculta el icono en pantallas grandes */
    cursor: pointer;
    font-size: 24px; /* Tamaño de fuente del icono */
    margin-right: 20px; /* Espaciado a la derecha entre el icono y los botones */
}

/* Estilos para las barras del icono de menú */
.bar {
    width: 30px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
}

/* Media query para mostrar el icono de menú en pantallas pequeñas */
@media (max-width: 768px) {
    .menu {
        display: none; /* Oculta la lista de enlaces en pantallas pequeñas */
    }

    .menu-icon {
        display: block; /* Muestra el icono de menú en pantallas pequeñas */
    }

    /* Muestra la lista de enlaces cuando el icono de menú está activo */
    .menu.active {
        display: flex;
        flex-direction: column; /* Muestra los enlaces en columna */
        position: absolute;
        top: 60px; /* Ajusta la posición vertical según la altura de la navbar */
        left: 0;
        width: 100%;
        z-index: 1;
    }

    /* Estilos para los enlaces del menú desplegable en dispositivos móviles */
    .menu.active a {
        padding: 15px 20px; /* Espaciado interno de los botones en dispositivos móviles */
    }
}
/* Estilo específico para el menú hamburguesa */
.menu-hamburguesa {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.menu-hamburguesa li {
    margin: 0;
    padding: 0;
    margin-bottom: 8px; /* Agrega espacio entre los elementos del menú */
}

.menu-hamburguesa a {
    text-decoration: none;
    color: #000000; /* Color del texto de los enlaces */
    font-family: 'AB', sans-serif;
    padding: 10px 20px; /* Espaciado interno de los botones */
    border-radius: 5px; /* Borde redondeado */
    margin-left: 20px; /* Espaciado a la izquierda entre los botones */
    margin-right: 20px; /* Espaciado a la derecha entre los botones */
    background-color: #ffffff; /* Color de fondo de los botones */
}

#cursos {
    display: flex;
    flex-wrap: wrap;
}

.curso-card {
    border: none; /* Eliminamos el borde para que no haya bordes visibles */
    background-color: #2198BD; /* Cambiamos el color de fondo */
    padding: 10px;
    margin: 10px 20px; /* Reducir el margen vertical a 10px y eliminar el margen horizontal */
    width: calc(30% - 20px);
    text-align: center;
    height: 130px;
    display: flex;
    flex-direction: column; /* Cambiar la dirección del flujo a columna */
    justify-content: space-between; /* Espacio uniforme entre elementos en la columna */
    border-radius: 10px; /* Agregamos bordes redondeados */
}

.curso-icon {
    font-size: 24px;
    color: #fff; /* Color de iconos blanco */
    font-family: 'AB', sans-serif; /* Fuente personalizada */
}

.curso-nombre {
    margin-top: 0; /* Mueve el nombre al medio verticalmente */
    color: #fff; /* Color de texto blanco */
    font-family: 'ASB', sans-serif; /* Fuente personalizada */
}

.curso-button {
    display: block;
    padding: 10px 20px;
    background-color: #1A4789; /* Cambiamos el color de fondo al pasar el cursor */
    color: #fff; /* Cambiamos el color de texto al pasar el cursor */
    text-decoration: none;
    border-radius: 5px;
    font-family: 'AB', sans-serif; /* Fuente personalizada */
    transition: background-color 0.3s, color 0.3s; /* Transición de color al pasar el cursor */
}

.curso-button:hover {
    background-color: #ffffff; /* Color de fondo al pasar el cursor */
    color: #1A4789; /* Color de texto al pasar el cursor */
}

/* estilos aportes */
.table-container {
    margin: 0 auto; /* Esto centra horizontalmente el div */
    width: 80%;
    font-family: 'ASB', sans-serif;
}

table {
    border-collapse: collapse;
    width: 100%; /* Ancho 100% para que la tabla se ajuste al contenedor */
}

th, td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

th {
    background-color: #63becf;
}
/* Estilo botón genérico */
.button-generic {
    display: inline-block;
    padding: 10px 20px;
    background-color: #63becf;
    color: #000;
    text-decoration: none;
    border: 1px solid #000; /* Borde delgado negro */
    border-radius: 5px; /* Redondear las esquinas */
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
    font-family: 'AB', sans-serif;
    margin: 10px;
}
/* Estilo cuando el cursor pasa sobre el botón genérico */
.button-generic:hover {
    background-color: #1A4789;
    color: #fff;
}
/* Estilos para los elementos del formulario */
form label, form input {
    font-family: 'ASB', sans-serif;
}
  /* Estilos adicionales para centrar y aumentar el tamaño de las listas desplegables */
  form {
    text-align: center;
}
p {
    font-size: 18px; /* Tamaño de fuente más grande */
    margin-top: 20px; /* Espacio superior */
    text-align: center;
    font-family: 'AB', sans-serif;
}
.select-container {
    display: flex;
    justify-content: center;
}

select {
    font-size: 25px; /* Tamaño de fuente más grande */
    padding: 10px; /* Espaciado adicional dentro de las listas */
    margin: 0 10px; /* Espaciado entre las listas */
}
/* Estilos de perfil */
.profile-form {
    display: inline-block;
    text-align: left;
}

.section-container {
    margin: 20px 0;
}

.profile-picture-container {
    width: 150px; /* Tamaño máximo del contenedor */
    height: 150px; /* Tamaño máximo del contenedor */
    border-radius: 50%; /* Forma redondeada */
    overflow: hidden; /* Ocultar bordes de la imagen fuera del contenedor */
    margin: 0 auto; /* Centrar el contenedor */
}

/* Añadir estilo a la imagen dentro del contenedor */
.profile-picture-container img {
    max-width: 100%; /* Asegura que la imagen se ajuste al contenedor sin distorsionarla */
    height: auto; /* Mantener la relación de aspecto original de la imagen */
}
/* contenedor generico*/
.container {
    text-align: center;
    margin: 0 auto;
    max-width: 600px; /* Ajusta el ancho máximo según tus necesidades */
    padding: 20px;
}





