@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



.icon-gallery {
    display: flex;
    flex-wrap: wrap; /* Permite que las filas se envuelvan a medida que el espacio se reduce */
    justify-content: space-between;
    margin-bottom: 20px;
}

/* Estilos para los elementos dentro de cada fila */
.icon-option {
    text-align: center;
    flex: 1;
    max-width: 150px; /* Ancho fijo para cada elemento */
    margin: 10px; /* Espacio entre elementos */
}

.icon-option img {
    max-width: 100%; /* Hace que las imágenes se ajusten al ancho del contenedor */
    height: auto; /* Mantiene la proporción de aspecto de las imágenes */
}

.icon-option p {
    margin-top: 10px;
}






h1{
    font-family: 'Montserrat', weight;
    font-size: 20px;
    margin-left: 20px;
}

h2{
    font-family: 'Montserrat', sans-serif;
}
/* Estilos para el body */
body {
 /* Elimina el relleno predeterminado del body (opcional) */
    text-align: center;
    background-color: rgb(228, 228, 228);
}
/* Estilos para el encabezado */
.header-main {
    background: rgb(26,71,137);
    background: linear-gradient(145deg, rgba(26,71,137,1) 40%, rgba(34,77,141,1) 53%, rgba(255,255,255,1) 53%);
    top: -30px;
    bottom: -15px;
    height: 130px;
    width: 140%;
    /* Ajusta la altura de la navbar según sea necesario */
}

/* Estilo para el contenedor de la navbar */
.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
}

/* Estilo para los elementos de la navbar */
.header-brand {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}

/* Estilo para la barra de navegación */


/* Estilo para los elementos del menú */
